<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EtecTube</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/img/favicon/site.webmanifest">
    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="logo left">
            <i id=menu class="material-icons">menu</i>
            <a asp-action="Index" title="Página inicial">
                <img src="~/img/logo.png" alt="Logo EtecTube">
            </a>
        </div>
        <div class="search center">
            <form action="">
                <input type="text" placeholder="Pesquisar">
                <button><i class="material-icons">search</i></button>
            </form>
            <i class="material-icons">mic</i>
        </div>
        <div class="icons right">
            <i class="material-icons">videocam</i>
            <i class="material-icons">apps</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons display-this">account_circle</i>
        </div>
    </header>
    <main>
        <div class="side-bar"></div>
        <div class="content">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>