<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GalloTube</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png" />
    <link rel="manifest" href="~/img/favicon/site.webmanifest" />
</head>

<body>
    <header class="flex-box">
        <div class="left-part flex-box">
            <i class="material-icons menu-btn">menu</i>
            <a asp-action="Index">
                <i class="material-icons logo">smart_display <span>GalloTube</span></i>
            </a>
        </div>
        <div class="center-part flex-box">
            <div class="search-bar flex-box">
                <input type="text" placeholder="Pesquisar">
                <button class="search-btn"><i class="material-icons">search</i></button>
            </div>
            <i class="material-icons mic">mic</i>
        </div>
        <div class="right-part flex-box">
            <i class="material-icons">videocam</i>
            <i class="material-icons">apps</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons display-this">account_circle</i>
        </div>
    </header>

    <div class="side-bar">
        <ul>
            <li class="menu-item active">
                <i class="material-icons">home</i>
                <span class="menu-text">Home</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">local_fire_department</i>
                <span class="menu-text">Explore</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">subscriptions</i>
                <span class="menu-text">Subscriptions</span>
            </li>
            <hr>
            <li class="menu-item">
                <i class="material-icons">library_add_check</i>
                <span class="menu-text">Library</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">history</i>
                <span class="menu-text">History</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">play_arrow</i>
                <span class="menu-text">Your Videos</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">watch_later</i>
                <span class="menu-text">Watch Later</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">thumb_up</i>
                <span class="menu-text">Liked Videos</span>
            </li>
            <hr>
            <li class="menu-item">
                <i class="material-icons">library_add_check</i>
                <span class="menu-text">Library</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">history</i>
                <span class="menu-text">History</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">play_arrow</i>
                <span class="menu-text">Your Videos</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">thumb_up</i>
                <span class="menu-text">Liked Videos</span>
            </li>
            <li class="menu-item">
                <i class="material-icons">watch_later</i>
                <span class="menu-text">Watch Later</span>
            </li>
            <br>
            <br>
            <br>
            <br>
        </ul>
    </div>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

