@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="videos">
    <!-- Inicio de um vídeo -->
    <div class="video">
        <div class="thumbnail">
            <img src="https://img.youtube.com/vi/zUwB_imVjmg/maxresdefault.jpg" alt="Vídeo">
        </div>
        <div class="details">
            <div class="author">
                 <img src="~/img/avatar.png" alt="Autor do vídeo" title="Nome do autor">
            </div>
            <div class="title">
                <h3>Título do vídeo</h3>
                <a href="">Canal do autor</a>
                <span>1M Visualizações • Há 3 meses atrás</span>
            </div>
        </div>
    </div>
    <!-- Fim do vídeo -->
    <!-- Inicio de um vídeo -->
    <div class="video">
        <div class="thumbnail">
            <img src="https://img.youtube.com/vi/zUwB_imVjmg/maxresdefault.jpg" alt="Vídeo">
        </div>
        <div class="details">
            <div class="author">
                 <img src="~/img/avatar.png" alt="Autor do vídeo" title="Nome do autor">
            </div>
            <div class="title">
                <h3>Título do vídeo</h3>
                <a href="">Canal do autor</a>
                <span>1M Visualizações • Há 3 meses atrás</span>
            </div>
        </div>
    </div>
    <!-- Fim do vídeo -->
    <!-- Inicio de um vídeo -->
    <div class="video">
        <div class="thumbnail">
            <img src="https://img.youtube.com/vi/zUwB_imVjmg/maxresdefault.jpg" alt="Vídeo">
        </div>
        <div class="details">
            <div class="author">
                 <img src="~/img/avatar.png" alt="Autor do vídeo" title="Nome do autor">
            </div>
            <div class="title">
                <h3>Título do vídeo</h3>
                <a href="">Canal do autor</a>
                <span>1M Visualizações • Há 3 meses atrás</span>
            </div>
        </div>
    </div>
    <!-- Fim do vídeo -->
    <!-- Inicio de um vídeo -->
    <div class="video">
        <div class="thumbnail">
            <img src="https://img.youtube.com/vi/zUwB_imVjmg/maxresdefault.jpg" alt="Vídeo">
        </div>
        <div class="details">
            <div class="author">
                 <img src="~/img/avatar.png" alt="Autor do vídeo" title="Nome do autor">
            </div>
            <div class="title">
                <h3>Título do vídeo</h3>
                <a href="">Canal do autor</a>
                <span>1M Visualizações • Há 3 meses atrás</span>
            </div>
        </div>
    </div>
    <!-- Fim do vídeo -->
    <!-- Inicio de um vídeo -->
    <div class="video">
        <div class="thumbnail">
            <img src="https://img.youtube.com/vi/zUwB_imVjmg/maxresdefault.jpg" alt="Vídeo">
        </div>
        <div class="details">
            <div class="author">
                 <img src="~/img/avatar.png" alt="Autor do vídeo" title="Nome do autor">
            </div>
            <div class="title">
                <h3>Título do vídeo</h3>
                <a href="">Canal do autor</a>
                <span>1M Visualizações • Há 3 meses atrás</span>
            </div>
        </div>
    </div>
    <!-- Fim do vídeo -->
    
</div>
