@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="videos">
    @for (int i = 0; i < 20; i++)  {
        <!-- Início do Vídeo 1 -->
        <div class="video">
            <div class="thumbnail">
                <img src="~/img/video.jpg" alt="Imagem do Vídeo" />
            </div>
            <div class="details">
                <div class="author">
                    <img src="~/img/avatar.png" alt="Canal" />
                </div>
                <div class="title">
                    <h3>Título do Vídeo</h3>
                    <a href="">Nome do Canal</a>
                    <span>3M Visualizações • há 2 Meses</span>
                </div>
            </div>
        </div>
        <!-- Fim do Vídeo 1 -->
    }
</div>
